* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    display: flex;
    background-image: linear-gradient(90deg, hsl(229, 46%, 24%) 0%, hsl(251, 41%, 5%) 100%);
    font-family: 'Inter', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;

}

/*VIRTUAL CONTAINER*/
.virtual-container {
    position: relative;
    width: 1440px;
    height: 4527px;
}
.image {
    position: absolute;
    left: 50%;
    right: 88.25%;
    top: 0.1%;
    bottom: 98.29%;
}
/* FIRST CONTAINER */
.first-container {
    position: absolute;
    width: 1287px;
    height: 787px;
    left: 132px;
    top: 40px;
}

.logo {
    position: absolute;
    width: 25.82px;
    height: 25.82px;
    left: 5px;
    top: 10px;
}

/* NAVIGATION BAR */
.nav-bar .list-1 .nav-link {
    margin: 0;
    padding: 10px 20px;
    display: inline-block;
    overflow: hidden;
    list-style: none;
    text-decoration: none;
}
.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40%;
    padding-right: 10%;
    padding-bottom: 5%;
}
.first-link {
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    left: 35px;
}
.nav-link {
    color: white;
    font-weight: bold;
}
.nav-link:hover {
    color: blue;
    text-decoration: none;
}
button {
    border: none;
    border-radius: 5px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 14px;
    transition: .4s;
    color: #F9FAFB;
}
button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/* SECOND PART */
.one-text {
    font-family: 'DM Sans';
    line-height: 84px;
    font-size: 58px;
    background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
    background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
}
.two-text {
    font-size: 15px;
    font-weight: lighter;
    line-height: 30px;
    color: #E5E7EB;
    opacity: 0.8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}
.video {
    position: absolute;
    top: 335px;
    padding-left: 30px;
    width: 65px;
    
}
.link {
    position: absolute;
    top: 343px;
    left: 182px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    color: #F9FAFB;
    text-decoration: none;
}

/* SECOND CONTAINER */
.three-text {
    font-family: 'DM Sans';
    color:rgba(255, 255, 255, 1);
    position: absolute;
    width: 237px;
    height: 55px;
    left: 604px;
    top: 800px;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
}
.four-text {
    position: absolute;
    width: 587px;
    height: 52px;
    left: 427px;
    top: 880px;
    color: rgba(255, 255, 255, 1);
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.third-part {
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 336px;
    left: 135px;
    top: 1065px;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.image- {
    position: absolute;
    width: 74px;
    height: 74px;
    left: 150px;
    top: 50px;
}
.five-text {
    position: absolute;
    width: 221px;
    height: 31px;
    left: 70px;
    top: 150px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.six-text {
    position: absolute;
    width: 324px;
    height: 78px;
    left: 15px;
    top: 200px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.seven-text {
    position: absolute;
    width: 92px;
    height: 26px;
    left: 100px;
    top: 290px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.arrow {
    position: absolute;
    left: 52%;
    right: 150%;
    top: 297px;
    bottom: 50%;
    color:#FFFFFF;
}
.four-part {
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 336px;
    left: 535px;
    top: 1065px;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.eight-text {
    position: absolute;
    width: 182px;
    height: 31px;
    left: 100px;
    top: 150px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.nine-text {
    position: absolute;
    width: 324px;
    height: 78px;
    left: 20px;
    top: 200px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.ten-text {
    position: absolute;
    width: 92px;
    height: 26px;
    left: 100px;
    top: 290px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.five-part {
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 336px;
    left: 935px;
    top: 1065px;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.eleven-text {
    position: absolute;
    width: 182px;
    height: 31px;
    left: 100px;
    top: 150px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.twelve-text {
    position: absolute;
    width: 324px;
    height: 78px;
    left: 20px;
    top: 200px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.thirt-text {
    position: absolute;
    width: 92px;
    height: 26px;
    left: 100px;
    top: 290px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.six-part {
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 336px;
    left: 135px;
    top: 1441px;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.fourt-text {
    position: absolute;
    width: 262px;
    height: 31px;
    left: 50px;
    top: 150px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.fiveth-text {
    position: absolute;
    width: 324px;
    height: 78px;
    left: 20px;
    top: 200px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.sixth-text {
    position: absolute;
    width: 92px;
    height: 26px;
    left: 100px;
    top: 290px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.seven-part {
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 336px;
    left: 535px;
    top: 1441px;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.seventh-text {
    position: absolute;
    width: 243px;
    height: 31px;
    left: 50px;
    top: 150px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.eighth-text {
    position: absolute;
    width: 324px;
    height: 78px;
    left: 20px;
    top: 200px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.ninth-text {
    position: absolute;
    width: 92px;
    height: 26px;
    left: 100px;
    top: 290px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.eight-part {
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 336px;
    left: 935px;
    top: 1441px;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.twenty-text {
    position: absolute;
    width: 319px;
    height: 31px;
    left: 50px;
    top: 150px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.tweone-text {
    position: absolute;
    width: 324px;
    height: 78px;
    left: 20px;
    top: 200px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.twetwo-text {
    position: absolute;
    width: 92px;
    height: 26px;
    left: 100px;
    top: 290px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

/* THIRD CONTAINER */
.image1 {
    position: absolute;
    width: 588px;
    height: 588px;
    left: 95px;
    top: 1897px;
}
.twethree-text {
    position: absolute;
    width: 582px;
    height: 110px;
    left: 718px;
    top: 2025px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: #FFFFFF;
}
.twefour-text {
    position: absolute;
    width: 579px;
    height: 130px;
    left: 718px;
    top: 2165px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.button3 {
    display: flex;
    position: absolute;
    width: 99px;
    height: 31px;
    left: 718px;
    top: 2320px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    border-radius: 4px;
    padding: 5px 15px;
    gap: 5px;
    font-weight: lighter;
}
.twefive-text {
    position: absolute;
    width: 582px;
    height: 110px;
    left: 135px;
    top: 2600px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: #FFFFFF;
}
.twesix-text {
    position: absolute;
    width: 579px;
    height: 130px;
    left: 135px;
    top: 2740px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.image2 {
    position: absolute;
    width: 588px;
    height: 588px;
    left: 748px;
    top: 2460px;
}

/* FOURTH CONTAINER */

.tweseven-text {
    position: absolute;
    width: 285px;
    height: 55px;
    left: 580px;
    top: 3150px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: #FFFFFF;
}
.tweeight-text {
    position: absolute;
    width: 480px;
    height: 51px;
    left: 480px;
    top: 3240px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.ninth-part {
    box-sizing: border-box;
    position: absolute;
    width: 270px;
    height: 266px;
    left: 135px;
    top: 3320px;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.image-4 {
    box-sizing: border-box;
    position: absolute;
    width: 90.64px;
    height: 89.16px;
    left: 70px;
    top: 50px;
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 54.2058px;
    transform: rotate(-4.08deg);
}
.twenine-text {
    position: absolute;
    width: 155px;
    height: 36px;
    left: 50px;
    top: 150px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}
.thirty-text {
    position: absolute;
    width: 158px;
    height: 21px;
    left: 50px;
    top: 190px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.tenth-part {
    box-sizing: border-box;
    position: absolute;
    width: 270px;
    height: 266px;
    left: 435px;
    top: 3320px;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.thirty1-text {
    position: absolute;
    width: 140px;
    height: 36px;
    left: 50px;
    top: 150px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}
.thirty2-text {
    position: absolute;
    width: 126px;
    height: 21px;
    left: 50px;
    top: 190px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    row-gap: 5px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.eleven-part {
    box-sizing: border-box;
    position: absolute;
    width: 270px;
    height: 266px;
    left: 735px;
    top: 3320px;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.thirty3-text {
    position: absolute;
    width: 145px;
    height: 36px;
    left: 50px;
    top: 150px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}
.thirty4-text {
    position: absolute;
    width: 197px;
    height: 21px;
    left: 50px;
    top: 190px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.twelve-part {
    box-sizing: border-box;
    position: absolute;
    width: 270px;
    height: 266px;
    left: 1035px;
    top: 3320px;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.thirty5-text {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 50px;
    top: 150px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}
.thirty6-text {
    position: absolute;
    width: 167px;
    height: 21px;
    left: 50px;
    top: 190px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.thirteen-part {
    box-sizing: border-box;
    position: absolute;
    width: 1170px;
    height: 295px;
    left: 135px;
    top: 3720px;
    background: linear-gradient(180deg, rgba(254, 254, 255, 0.0145) 0%, rgba(255, 255, 255, 0.02) 100%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.thirty7-text {
    position: absolute;
    width: 671px;
    height: 55px;
    left: 250px;
    top: 70px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
.thirty8-text {
    position: absolute;
    width: 739px;
    height: 30px;
    left: 200px;
    top: 130px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}
.sub-part {
    position: absolute;
    width: 860px;
    height: 80px;
    left: 170px;
    top: 180px;
    background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
    border-radius: 70px;
}
.button5 {
    position: absolute;
    width: 196px;
    height: 60px;
    left: 640px;
    top: 10px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    opacity: 0.9;
    border-radius: 70px;
}
.social {
    position: relative;
    left: 60px;
    top: 220px;
    margin-right: 10px;
}
.social:hover {
    cursor: pointer;
}
.tele {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 30px;
    top: 10px;
}

/* LAST CONTAINER */

.first-list {
    position: absolute;
    top:4111px;
    left:150px;
    list-style: none;
    line-height: 40px;
    color: #E5E7EB;
}
.add {
    position: absolute;
    left: -40px;
    top: 5px;
}
.add1 {
    position: absolute;
    left: -40px;
    top: 50px;
}
.add2 {
    position: absolute;
    left: -40px;
    top: 85px;
}
.add3 {
    position: absolute;
    left: -40px;
    top: 130px;
}
.add4 {
    padding-right: 10px;
}
.second-list {
    position: absolute;
    top: 4111px;
    left: 400px;
    font-family: DM Sans;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.80);
    list-style: none;
    line-height: 40px;
}
.third-list {
    position: absolute;
    top: 4111px;
    left: 700px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.80);
    list-style: none;
    line-height: 40px;
}
.fourth-list {
    position: absolute;
    top: 4111px;
    left: 950px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.80);
    list-style: none;
    line-height: 40px;
}
.fifth-list {
    position: absolute;
    top: 4111px;
    left: 1200px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.80);
    list-style: none;
    line-height: 40px;
}
.line {
    width: 1472px;
    height: 1px;
    position: absolute;
    top: 4400px;
    opacity: 0.20000000298023224;
    background: #969696;
}
.line1 {
    position: absolute;
    top: 4450px;
    left: 90px;
    font-family: Rubik;
    font-weight: lighter;
    font-size: 14px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.80);
}
.lasto {
    position: absolute;
    top: 4440px;
    left: 1000px;
    list-style: none;
    font-family: DM Sans;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.80);
}
.span1 {
    margin-right: 60px;
}